<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">

      <a class="navbar-brand" href="#">HEALTH CARE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#explore">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#adventure">Adventure</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Contact">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/">You are Particular</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="jumbotron jumbotron-fluid height100p banner" id="home">
  <div class="container h100">
    <div class="contentBox h100">
      <div class="">
        <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Good Health Good Sense </h1>
        <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Look to your health and if you have it praise
          God, and value it next to a good conscience for health is the second blessing that we mortals are capable of;
          a blessing that
          money cannot buy .</p>
      </div>
    </div>
  </div>
</div>
<section class="sec1" id="explore">
  <div class="container">
    <div class="row">
      <div class="offset-sm-2 col-sm-8">
        <div class="headerText text-center">
          <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Never Take Your Health For Granted Health
            Is Wealth </h2>
          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">Understand How Your Beliefs Impact Your
            Emotional Health And Behaviors . . .

          </p>
        </div>
      </div>
    </div>
    <div class="row ">
      {{!-- <div class="col-sm-4" style="background-color: blue;height: 45vh">
        fdg
      </div>
      <div class="col-sm-4" style="background-color: rgb(0, 255, 132);height: 45vh">
        gdfgf
      </div>

      <div class="col-sm-4 article-container">
        <div class="bg-holder"></div>

      </div> --}}

      <div class="col-sm-4">
        <div class="placeBox  containerMG" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
          <div class="imgBx">
            <img src="pha.jpg" class="img-fluid" style="border-radius: 50px">
          </div>
          <div class="content">
            {{!-- <h3 style="margin-bottom:60px;
              margin-left:100px;">You Are </h3> --}}
          </div>
          <div class="content" style="margin-left: 60px;">
            <span class="btn btn-lg btn-primary" style="width:184px;
               border-radius: 50px;margin-bottom: 8px;"><a style="color: white;" href="/D">Pharmacis</a></span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="placeBox  containerMG" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
          <div class="imgBx">
            <img src="doctor.jpg" class="img-fluid" style="border-radius: 50px">
          </div>
          <div class="content">
            {{!-- <h3 style="margin-bottom:60px;
              margin-left:100px;">You Are</h3> --}}
          </div>

          <div class="content" style="margin-left: 60px;">

            <span class="btn btn-lg btn-primary" style="width:184px;
                border-radius: 50px;margin-bottom: 8px; "><a style="color: white;" href="/signin">Doctor</a></span>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="placeBox containerMG" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
          <div class="imgBx">
            <img src="mal.jpg" class="img-fluid " style="border-radius: 50px">
          </div>
          <div class="content">
            {{!-- <h3 style="margin-bottom:60px;
              margin-left:100px;">You Are</h3> --}}
          </div>
          <div class="content" style="margin-left: 60px;">

            <span class="btn btn-lg btn-primary" style="width:184px;
                border-radius: 50px;margin-bottom: 8px;"><a style="color: white;"
                href="/speciality/">Patient</a></span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec2" id="adventure">
  <div class="container h100">
    <div class="contentBox h100">
      <div>
        <h1>adventure is evrywher</h1>
        <p>lorem ipsum dolors sit amet , consecture
          adipisicing elit , sed do eiusmod tempor
          lorem ipsum dolors sit amet , consecture
          adipisicing elit , sed do eiusmod temporlorem ipsum dolors sit amet , consecture
          adipisicing elit , sed do eiusmod tempor .
        </p>
        <a href="#" class="btn btnD1">read more</a>
      </div>
    </div>
  </div>
</section>
<section class="blog" id="blog">
  <div class="container">
    <div class="row">
      <div class="offset-sm-2 col-sm-8">
        <div class="headerText text-center">
          <h2>Our Latest post</h2>
          <p>lorem ipsum dolors sit amet , consecture
            adipisicing elit , sed do eiusmod tempor
            lorem ipsum dolors sit amet , consecture
            adipisicing elit , sed do eiusmod temporlorem ipsum dolors sit amet , consecture
            adipisicing elit .</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="blogpost">
          <div class="imgBx">
            <img src="1.jpg" class="img-fluid">
          </div>
          <div class="content">
            <h1>lorem ipsum sit amet
              consecteur adisipising elit</h1>
            <p>lorem ipsum dolors sit amet , consecture
              adipisicing elit , sed do eiusmod tempor
              lorem ipsum dolors sit amet , consecture
              adipisicing elit , sed do eiusmod temporlorem ipsum dolors sit amet , consecture
              adipisicing elit .</p>
            <a href="#" class="btn btnD2">Read More</a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="blogpost">
          <div class="imgBx">
            <img src="1.jpg" class="img-fluid">
          </div>
          <div class="content">
            <h1>lorem ipsum sit amet
              consecteur adisipising elit</h1>
            <p>lorem ipsum dolors sit amet , consecture
              adipisicing elit , sed do eiusmod tempor
              lorem ipsum dolors sit amet , consecture
              adipisicing elit , sed do eiusmod temporlorem ipsum dolors sit amet , consecture
              adipisicing elit .</p>
            <a href="#" class="btn btnD2">Read More</a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="blogpost">
          <div class="imgBx">
            <img src="1.jpg" class="img-fluid">
          </div>
          <div class="content">
            <h1>lorem ipsum sit amet
              consecteur adisipising elit</h1>
            <p>lorem ipsum dolors sit amet , consecture
              adipisicing elit , sed do eiusmod tempor
              lorem ipsum dolors sit amet , consecture
              adipisicing elit , sed do eiusmod temporlorem ipsum dolors sit amet , consecture
              adipisicing elit .</p>
            <a href="#" class="btn btnD2">Read More</a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="blogpost">
          <div class="imgBx">
            <img src="1.jpg" class="img-fluid">
          </div>
          <div class="content">
            <h1>lorem ipsum sit amet
              consecteur adisipising elit</h1>
            <p>lorem ipsum dolors sit amet , consecture
              adipisicing elit , sed do eiusmod tempor
              lorem ipsum dolors sit amet , consecture
              adipisicing elit , sed do eiusmod temporlorem ipsum dolors sit amet , consecture
              adipisicing elit .</p>
            <a href="#" class="btn btnD2">Read More</a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="Contact" id="Contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="headerText text-center">
          <h2>Contact us</h2>
          <p>lorem ispum sit amet consecture adisiping elit</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="offset-sm-2 col-sm-8">
        <form>
          <div class="form-group">
            <label for="">name</label>
            <input type="text" name="" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" name="" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">phone</label>
            <input type="text" name="" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">message</label>
            <textarea name="name" class="form-control textarea"></textarea>
          </div>
          <div class="form-group text-center">
            <button type="submit" name="button" class="btn btnD1">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="sci">
          <li><a href="#"><i class="fa
            fa-facebook"></i>
            <li><a href="#"><i class="fa
              fa-twitter"></i>
              <li><a href="#"><i class="fa
                fa-google-plus"></i>
                <li><a href="#"><i class="fa
                  fa-instagram"></i>
        </ul>
        <p class="cpryt">@copyright 2020 helthecare by azer
          programer
        </p>
      </div>
    </div>
  </div> -->