<div style="text-align: center; margin-left: 500px;
	margin-right: 500px;
	margin-top: 150px;">
 <h2 class="title_" style="padding-top:15px;padding-bottom:15px">
  The Last Step <br>
  Make Your Pictur Now...

 </h2>
</div>
<form action="/upload/image/{{id}}" method="POST" enctype="multipart/form-data">
 <input type="file" name="image" multiple>
 <p>Drag your files here or click in this area . </p>
 <button type="submit">Upload</button>
</form>