{{> doctors/listDoctor/listDoctor-header }}

<body>

 <!-- Page Content -->
 {{!-- <div class="container"> --}}

 {{{ body }}}

 {{!-- </div> --}}
 <!-- /.container -->
 {{> doctors/listDoctor/listDoctor-footer }}