{{> doctors/speciality/speciality-header }}

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

 <!-- Page Content -->
 {{!-- <div class="container"> --}}

 {{{ body }}}

 {{!-- </div> --}}
 <!-- /.container -->
 {{> doctors/speciality/speciality-footer }}