<!--<div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">Health Care</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="/">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li class="active" href="about">About</a></li>
                <li><a href="contact">Contact</a></li>     
                <li class="has-children">
                  <a href="#"><i class="fas fa-user"></i> User</a>
                  <ul class="dropdown">
                     {{#if chekuse}}
          {{#if checkProfile}}
            <a href="/users/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a>
             {{else}}
            <a href="/users/profile"><i class="fas fa-address-card"></i> Profile</a>
             <a href="/users/profileVendor"><i class="fas fa-address-card"></i> Profile profileVendor</a>
              <a href="/users/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a>
             
          {{/if}}
            
          {{else}}
            <a href="/users/signup"> <i class="fas fa-user-plus"></i> Signup</a>
            <a href="/users/signin"><i class="fas fa-sign-in-alt"></i> Signin</a>
            <a href="/users/publishMedicines"><i class="fas fa-upload"></i>Publish-Medicines</a>
            <a href="/users/signinofpublish"><i class="fas fa-sign-in-alt"></i> Signin of Publish</a>
            
          {{/if}}
                    
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <a href="/Medicines" class="fas fa-pills">
              <span class="badge badge-pill badge-danger"></span>
              <span class="number">{{totalProducts}}</span>
            </a>
          
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
          <div>
           
          </div>
        </div>
      </div>
    </div>
    -->
    <div class="site-blocks-cover inner-page" style="background-image: url('/images/un-nouveau-medicament-millions-dollars-mis-sur-marche-aux-usa.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto align-self-center">
            <div class=" text-center">
              <h1>About Us</h1>
              <p>We are a groupe of web devlopment ,we create this web site to make the medecine domaine easy because we care for the health of the human beings .</p>ˀ
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
             <!--
              <figure>
                <img src="/stylesheets/images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    
              </figure>
              -->
              <p>
              At the end of 2019, we got together to choose a theme for our end of study project, we discussed several themes, and we preferred to choose an idea that would solve a problem among the problems that face people. Among these problems we find the problem of making an appointment with the doctor, choosing the right and the nearest doctor, and the other problem is the difficulty of finding all the medicines in one pharmacy and how to contact them. nearest pharmacies? Another goal is to allow people who have medicines in their homes not to use them. Waste is avoided. So we decided to create a 
              website that would solve these three problems, a site that contains three parts: Doctor , Pharmacy , Particular .  .

              </p>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
    
    
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">How We Started ?</h2>
            </div>
            <p>.</p>
            <p>.</p>
    
          </div>
        </div>
      </div>
    </div>

    

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-md-2">
            <div class="block-16">
              <figure>
                <!--
                <img src="/stylesheets/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    -->
    <p>
      Today, diseases, viruses and epidemics abound, we see that in Algeria it is very difficult to make an appointment, because you have to travel or go to the doctor to make an appointment or call him. By mobile phone, sometimes the doctor is busy, sometimes he is on vacation and the patient cannot contact him, and when he goes to the office sometimes he stays all day waiting for his appointment, they are tired of sitting and quit their job, and among them is the mother who left her children or a man who quit his job and is Fasting ... etc.
And also the inability of people to go from the pharmacy to the pharmacy to look for drugs because sometimes the patient goes to the pharmacy with his prescription, sometimes he finds all the drugs and sometimes he finds one and does not find one. other, after that he has to go through several pharmacies to find all the drugs
There is also a waste of medicine, and if we visit the homes of Algerians, we will find millions of unused medicines, letting them expire without using them, or the patient can be cured or die and did not use them, and the price was too high.
So we want to help people to solve their daily problems which have become an obstacle that bothers them, so we came up with this “Health Care” site in which we solved all these problems
    </p>
              </figure>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
    
    
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">Why we create this web site ?</h2>
            </div>
            <p class="text-black">.</p>
            <p class="text-black">.</p>
    
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck text-primary"></span>
            </div>
            <div class="text">
              <h2>Free Shopping</h2>
              <p>With Health care You can search, buy and sell the medicines witout paying.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-watch text-primary"></span>
            </div>
            <div class="text">
              <h2>Work 24/24 H</h2>
              <p>With Health care you can buy your medecines in evry time that you want.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help text-primary"></span>
            </div>
            <div class="text">
              <h2>All the medicines</h2>
              <p>With Health care You can found all the medicines available and the not available.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-5">
    
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="/images/lina.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Touati nesrine</h3>
                  <p class="block-38-subheading">developer of site web</p>
                </div>
                <div class="block-38-body">
                  <p>member of web devlopment groupe that create this web site,she's 20 years old lived in ras el oued, she study in mouhamed el bachir el ibrahimi bourdj bou arreridj. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="/stylesheets/images/person_2.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Amzali idir</h3>
                  <p class="block-38-subheading">developer of site web</p>
                </div>
                <div class="block-38-body">
                  <p>member of web devlopment groupe that create this web site,she's 21 years old lived in yachir, she study in mouhamed el bachir el ibrahimi bourdj bou arreridj. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 mb-5"></div>

          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="/stylesheets/images/person_3.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Boumaiza douniazad</h3>
                  <p class="block-38-subheading">developer of site web</p>
                </div>
                <div class="block-38-body">
                  <p>member of web devlopment groupe that create this web site,she's 20 years old lived in ras el oued, she study in mouhamed el bachir el ibrahimi bourdj bou arreridj. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 mb-5"></div>

        </div>
      </div>
    </div>


    
  </div>

 


