<!--<div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">particular</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="/">Home</a></li>
                <li><a href="shop">Store</a></li>
                
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li class="has-children">
                  <a href="#"><i class="fas fa-user"></i> User</a>
                  <ul class="dropdown">
                    {{#if chekuse}}
          {{#if checkProfile}}
          <li><a  href="/users/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a></li>
             {{else}}
            <li><a  href="/users/profile"><i class="fas fa-address-card"></i> Profile</a></li>
              <li><a href="/users/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a></li>
          {{/if}}
            
          {{else}}
            <li><a href="/users/signup"> <i class="fas fa-user-plus"></i> Signup</a></li>
            <li><a href="/users/signin"><i class="fas fa-sign-in-alt"></i> Signin</a></li>
            
          {{/if}}  
                    
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
           <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
           
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
          <div></div>
          </div>
        </div>
      </div>
    </div>

-->
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
              class="text-black">Thank You</strong></div>
        </div>
      </div>
    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Thank you!</h2>
            <p class="lead mb-5">Help people and fulfill their needs to seek reward from God Almighty .. 
              Do not seek a word of thanks from the people, and as the proverb says (do good and throw it into the sea),
               so congratulations to those who bring pleasure to the heart of a believer, an orphan, an old man,
                an old woman, a widow, or any of the actions of Goodness and facilitating people's affairs, relieving their pain and not complicating their affairs..the Messenger of God, may God’s prayers and peace be upon him, said: “Whoever is a believer’s secret, has pleased me, and whoever is pleased with me has been pleased with God.” So the rational person has to seek help in fulfilling his own needs by striving to fulfill the needs of Muslims. 
              I sought to meet the needs of Muslims, God himself sought to fulfill your needs
              If you want God to facilitate the fulfillment of your needs, then help people meet their needs. 
              The reward is the same kind of work. People have made my life easier for God Almighty for all my affairs, 
              nd I have heard a hadith which means that the people are quickest to pass on the Path are people who
               fulfill the needs of people on any religion, and it is a matter of hastening to do good and
                compete in it as God Almighty said: {So keep good deeds.} So 
              seize the opportunities before others seize it.</p>
            <p><a href="/" class="btn btn-md height-auto px-4 py-3 btn-primary">Back to Home</a></p>
          </div>
        </div>
      </div>
    </div>


   