<script src="/js/jquery.js"></script>


<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/star.js"></script>
{{!-- <script>
 $(document).ready(function () {
  $("a").each(function () {

   var a = "/speciality/doctor_special/";
   if ($(this).attr('href') === a) {

    console.log(($(this).attr('href')))
    $(this).remove();


   }

   console.log(a)

  });
  var collection = $(".thumbnail ");
  collection.each(function () {
   console.log(collection.length);
   console.log($("a")[1]);
   $("a")[1].remove();
  });
 });

</script> --}}
</body>

</html>