<!--<div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">Health care</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="shop">Shop</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li class="has-children">
                  <a href="#"><i class="fas fa-user"></i> User</a>
                  <ul class="dropdown">
                    {{#if chekuse}}
          {{#if checkProfile}}
            <a href="/users/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a>
             {{else}}
            <a href="/users/profile"><i class="fas fa-address-card"></i> Profile</a>
             <a href="/users/profileVendor"><i class="fas fa-address-card"></i> Profile profileVendor</a>
              <a href="/users/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a>
             
          {{/if}}
            
          {{else}}
            <a href="/users/signup"> <i class="fas fa-user-plus"></i> Signup</a>
            <a href="/users/signin"><i class="fas fa-sign-in-alt"></i> Signin</a>
            <a href="/users/publishMedicines"><i class="fas fa-upload"></i>Publish-Medicines</a>
            <a href="/users/signinofpublish"><i class="fas fa-sign-in-alt"></i> Signin of Publish</a>
            
          {{/if}}
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
           <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
           
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
          <div></div>
          </div>
        </div>
      </div>
    </div>


-->


<div class="col-md-4 offset-md-4" style="padding-top: 30px;">
{{#each masseges}}
<div class="alert alert-danger">
    <p>{{this}}</p>
</div>
    
{{/each}}
<!--
<div class="row">
  <div class="col-sm-3">
    <div class="text-center">
      <img src="{{{Userb.image}}}" class="img-thumbnail" id="image">
  
 
    </div>
    <br> <br>
<form action="uploadfileV" method="post" enctype="multipart/form-data">
        <input type="file" name="myfile"  id="file">
<div class="d-none" id="actionbutton">
    <input type="submit" value="Save" class="btn btn-info">
      <a href="/users/publishMedicines" class="btn btn-danger">Cancel</a>
    </div>
    </form>
   
  </div>
  -->
<div class="form">
    <h1 >Publish Medicines</h1>
    <form action="publishMedicines" method="POST">
        <input type="text" name="name" placeholder="enter your Name and Family name" class="form-control">
        <input type="adress" name="adress" placeholder=" enter your adress" class="form-control">
        <input type="number" name="TelephoneNumber" placeholder=" enter your Telephone number" class="form-control">
        <input type="text" name="productName" placeholder=" enter your medicines" class="form-control">
       <!-- <input type="text" name="utilisation" placeholder=" enter your medicines utilisation" class="form-control">
        <input type="number" name="Quantum" placeholder=" enter your medicines quantum" class="form-control">
            
        <input type="number" name="price" placeholder=" enter your price" class="form-control">-->
        <input type="email" name="email" placeholder="enter your Email" class="form-control">
        <input type="password" name="password" placeholder="enter your Password" class="form-control">
        <input type="password" name="confirm-password" placeholder="Re enter your Confirm-Password" class="form-control">  
          
          
        <button>Sign Up</button>
     
    </form>
    </div>

    <script>
       document.getElementById('file').onchange = function () {
    const reader = new FileReader();

    reader.onload = function () {
      document.getElementById('image').src = this.result;
    }
    reader.readAsDataURL(this.files[0]);
    $('#file').addClass('d-none');
    $('#actionbutton').removeClass();
  }
    </script>