<!--<div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">Health care</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="shop">Shop</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li class="has-children">
                  <a href="#"><i class="fas fa-user"></i> User</a>
                  <ul class="dropdown">
                    {{#if chekuse}}
          {{#if checkProfile}}
            <a href="/users/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a>
             {{else}}
            <a href="/users/profile"><i class="fas fa-address-card"></i> Profile</a>
             <a href="/users/profileVendor"><i class="fas fa-address-card"></i> Profile profileVendor</a>
              <a href="/users/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a>
             
          {{/if}}
            
          {{else}}
            <a href="/users/signup"> <i class="fas fa-user-plus"></i> Signup</a>
            <a href="/users/signin"><i class="fas fa-sign-in-alt"></i> Signin</a>
            <a href="/users/publishMedicines"><i class="fas fa-upload"></i>Publish-Medicines</a>
            <a href="/users/signinofpublish"><i class="fas fa-sign-in-alt"></i> Signin of Publish</a>
            
          {{/if}}
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
           <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
           
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
          <div></div>
          </div>
        </div>
      </div>
    </div>



-->
<div class="col-md-4 offset-md-4" style="padding-top: 80px;">
    
    {{#each masseges}}
<div class="alert alert-danger">
    <p>{{this}}</p>
</div>
    
{{/each}}
 
 
 
 <div class="form">
    <h1 >Sign In Of Publish</h1>
    <form action="signinofpublish" method="POST">
        <input type="email" name="email" placeholder="enter your Email" class="form-control">
        <input type="password" name="password" placeholder="enter your Password" class="form-control">
       
      
        <button>signinofpublish</button>
        <p class="message">Not registered? <a href="/users/publishMedicines">Create an account</a></p>
    </form>
    </div>