

    <div class="site-blocks-cover inner-page" style="background-image: url('/images/un-nouveau-medicament-millions-dollars-mis-sur-marche-aux-usa.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto align-self-center">
            <div class=" text-center">
              <h1>About Us</h1>
              <p>We are a groupe of web devlopment ,we create this web site to make the medecine domaine easy because we care for the health of the human beings .</p>ˀ
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="/stylesheets/images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
    
    
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">How We Started ?</h2>
            </div>
            <p>.</p>
            <p>.</p>
    
          </div>
        </div>
      </div>
    </div>

    

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-md-2">
            <div class="block-16">
              <figure>
                <img src="/stylesheets/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    
              </figure>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
    
    
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">Why we create this web site ?</h2>
            </div>
            <p class="text-black">.</p>
            <p class="text-black">.</p>
    
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-bag text-primary"></span>
            </div>
            <div class="text">
              <h2>Free Shopping</h2>
              <p>With Health care You can search, buy and sell the medicines witout paying.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-watch text-primary"></span>
            </div>
            <div class="text">
              <h2>Work 24/24 H</h2>
              <p>With Health care you can buy your medecines in evry time that you want.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help text-primary"></span>
            </div>
            <div class="text">
              <h2>All the medicines</h2>
              <p>With Health care You can found all the medicines available and the not available.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-5">
    
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="/stylesheets/images/person_1.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Touati nesrine</h3>
                  <p class="block-38-subheading">CEO/Co-Founder</p>
                </div>
                <div class="block-38-body">
                  <p>member of web devlopment groupe that create this web site,she's 20 years old lived in ras el oued, she study in mouhamed el bachir el ibrahimi bourdj bou arreridj. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="/stylesheets/images/person_2.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Amzali idir</h3>
                  <p class="block-38-subheading">Co-Founder</p>
                </div>
                <div class="block-38-body">
                  <p>member of web devlopment groupe that create this web site,she's 21 years old lived in yachir, she study in mouhamed el bachir el ibrahimi bourdj bou arreridj. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 mb-5"></div>

          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="/stylesheets/images/person_3.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Boumaiza douniazad</h3>
                  <p class="block-38-subheading">Marketing</p>
                </div>
                <div class="block-38-body">
                  <p>member of web devlopment groupe that create this web site,she's 20 years old lived in ras el oued, she study in mouhamed el bachir el ibrahimi bourdj bou arreridj. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 mb-5"></div>

        </div>
      </div>
    </div>


    
  </div>

 

</body>

