<!--====== Javascripts & Jquery ======-->
<script>
  mapboxgl.accessToken =
    "pk.eyJ1IjoiaWRpcmFtemFsaSIsImEiOiJjazlqM3h1OGgwMmszM2VtaHpmbjdyeWlwIn0.27yHyrGgEaIffiaDFSrJwA";

  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11",
    center: [3.055893991865645, 36.76398122985107],
    zoom: 7,
  });

  var Latitude = document.getElementsByTagName("input")[1];
  var Longitude = document.getElementsByTagName("input")[2];
  var coordinates = document.getElementById("coordinates");
  var marker = new mapboxgl.Marker({
    draggable: true,
  })
    .setLngLat([3.055893991865645, 36.76398122985107])
    .addTo(map);

  function onDragEnd() {

    var lngLat = marker.getLngLat();

    Longitude.value = lngLat.lng;
    Latitude.value = lngLat.lat;
  }

  marker.on("dragend", onDragEnd);
</script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>