.caption h3:hover {
  color: #a5c422;
  outline: none;
}

.idir:hover .social-icon {
  opacity: 1;
  transition-delay: 0.3s;
  transform: translateY(0px);
  top: -12em;
}

.idir .social-icon {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s 0.2s;
  text-align: center;
  position: relative;
  top: 0;
}

.idir .social-icon li a {
  background: #ffffff;
  border-radius: 100%;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 2px 0 2px;
}

.noborder {
  border-style: none;
}

.po {
  position: absolute !important;
  z-index: 1;
}

/* ------------------------------------- */
/* .bread {
  padding-top: px;
}
ul.breadcrumb {
  padding: 15px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
} */
body {
  font-size: 14px !important;
  font-family: Roboto !important;
}

h1 {
  text-align: center !important;
  margin-top: 30px !important;
  margin-bottom: 50px !important;
}

ol {
  list-style: none !important;
}

.breadcrumba {
  width: 100% !important;
  float: left !important;
  margin: 6px 0 !important;
  padding: 7px !important;
  position: relative !important;
  display: block !important;
  background: rgba(0, 0, 0, 0.05) !important;
}

.breadcrumba ol {
  list-style: none !important;
}

.breadcrumba li {
  height: 30px !important;
  line-height: 30px !important;
  float: left !important;
  padding: 0 12px !important;
}

/* Bredcrumb Fill 2 - style 1 */
.breadcrumb-fill2 {
  padding: 15px !important;
  background: #135fb4 !important;
  color: #ffffff !important;
  border-radius: 15px !important;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2) !important;
}

.breadcrumb-fill2 .fa {
  position: absolute !important;
  background: #ccf514 !important;
  padding: 25px !important;
  border-radius: 50% !important;
  left: -10px !important;
  top: -10px !important;
  font-size: 30px !important;
  line-height: 1 !important;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2) !important;
}

.breadcrumb-fill2,
.breadcrumb-fill2 li,
.breadcrumb-fill2 li.active,
.breadcrumb-fill2 li a {
  color: #ffffff !important;
}

.breadcrumb-fill2 li:first-child {
  margin-right: 30px !important;
}

/* Bredcrumb Fill 2 - style 4 */
.breadcrumb-fill2.style4 {
  border-radius: 30px !important;
  background: #a5c422 !important;
  padding: 0 !important;
  width: 100% !important;
  float: left !important;
}

.breadcrumb-fill2.style4 .fa {
  border: 5px solid #ffffff !important;
  text-align: center !important;
  padding: 15px !important;
}

.breadcrumb-fill2.style4 li {
  height: 50px !important;
  line-height: 50px !important;
  float: left !important;
  padding: 0 12px !important;
}

.breadcrumb-fill2.style4 li:before {
  display: none !important;
}

.breadcrumb-fill2.style4 li:first-child {
  background: rgba(0, 0, 0, 0.3) !important;
}

.breadcrumb-fill2.style4 li:nth-child(2n) {
  background: rgba(0, 0, 0, 0.4) !important;
}

.breadcrumb-fill2.style4 li:nth-child(3n) {
  background: rgba(0, 0, 0, 0.3) !important;
}

.breadcrumb-fill2.style4 li:nth-child(4n) {
  background: rgba(0, 0, 0, 0.2) !important;
}

.breadcrumb-fill2.style4 li:nth-child(5n) {
  background: rgba(0, 0, 0, 0.1) !important;
}

.breadcrumb-fill2.style4 li:last-child {
  background: transparent !important;
}

.breadcrumba .fa:hover {
  transform: scale(1.15) !important;
}