<!-- Required Js -->
<script src="/js/jquery.js"></script>


<script>
 $(document).ready(function () {
  $('form input').change(function () {
   $('form p').text(this.files.length + " file(s) selected");
  });
 });
</script>

</body>

</html>